[submodule "nuke/setup/plugins/LumaNukeGizmos"]
	path = nuke/setup/plugins/LumaNukeGizmos
	url = https://github.com/LumaPictures/LumaNukeGizmos.git
[submodule "nuke/setup/plugins/nuke.env"]
	path = nuke/setup/plugins/nuke.env
	url = https://github.com/dekekincaid/nuke.env.git
