[submodule "bin/plugins/nuke/nuke.env"]
	path = bin/plugins/nuke/nuke.env
	url = https://github.com/dekekincaid/nuke.env.git
[submodule "bin/plugins/nuke/LumaNukeGizmos"]
	path = bin/plugins/nuke/LumaNukeGizmos
	url = https://github.com/LumaPictures/LumaNukeGizmos.git
[submodule "helga/houdini/setup/otls/qLib"]
	path = helga/houdini/setup/otls/qLib
	url = https://github.com/qLab/qLib.git
