


#-------------------------
#Ignore List
#-------------------------



#File extensions
#-------------------------
*.pyc
*.ma
*.mb
*.hip
*.hipnc
*.db



#Folders
#-------------------------
docs/build





#Allow specific folders and subfolders
#(never allow .db though)
#-------------------------
!/helga/maya/setup/scripts/**
*.db