


#-------------------------
#Ignore List
#-------------------------



#File extensions
#-------------------------
*.pyc
*.ma
*.mb
*.hip
*.hipnc
*.db



#Folders
#-------------------------
documentation/build